body{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
#buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
}